{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            updateDeleteButtons();

            $('#add').click(function(e) {
                e.preventDefault();

                var list = $('#task_executors');
                var newWidget = list.attr('data-prototype');
                console.log(newWidget);
                newWidget = newWidget.replace(/__name__label__/g, '');
                newWidget = newWidget.replace(/__name__/g, 1);

                list.append(newWidget);
                updateExecutorsIndex();
                updateDeleteButtons();

            });

            $('body').on("click", '.delete-btn', function (e) {
                e.preventDefault();
                $(this).parent('div').remove();

                updateExecutorsIndex();

            });
        });

        function updateExecutorsIndex() {
            $("select[name^='task[executors][']").each(function (index) {
                $(this).attr('name', 'task[executors][' + index + ']');
            });
        }

        function updateDeleteButtons() {
            $("select[name^='task[executors][']").each(function () {
                console.log($(this).parent("div").find('.delete-btn').length);
                if($(this).parent("div").find('.delete-btn').length === 0){

                $("<button class='delete-btn'>DELETE</button>").insertAfter($(this));
                }
            });
        }

    </script>

{% endblock %}


{{ form_start(form) }}
{{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.status) }}
    {{ form_row(form.executors) }}


<button id="add">ADD</button>

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

