{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <h1>Task</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ task.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ task.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ task.description }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ task.statusName }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ task.author.username }}</td>
        </tr>
        <tr>
            <th>Executors</th>
            <td>
                <ul>
                {% for executor in task.executors %}
                    <li>{{ executor.username }} ({{ executor.email }}) </li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('task_index') }}">back to list</a>

    <a href="{{ path('task_edit', {'id': task.id}) }}">edit</a>

    {{ include('task/_delete_form.html.twig') }}

    {{ include('comment/index.html.twig') }}

    {{ include('comment/new.html.twig') }}

{% endblock %}
